{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>uppunuti-siddhartha</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/ab66a4ccff.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?v=123">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</head>
<style>



</style>
<div class="section">

  <body>
    <nav>
      <div class="menu-toggle" id="menu-toggle">
        ☰ <!-- Hamburger Icon -->
      </div>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#project">Projects</a></li>
        <li><a href="#highlights">Explore</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="home">
      <p id="open">#Open To Work</p>
      <section id="home">
        <div class="container">
          <div class="row">
            <!-- Content Column - order changes based on screen size -->
            <div class="col-lg-6 col-md-12 order-lg-1 order-2">
              <div class="main">
                <h5>Hello, it's ME</h5>
                <h3>Uppunuti Siddhartha</h3>
                <h2>And I'm a <span id="typing-text"></span></h2>
                <p>A passionate Python Full Stack Developer and Web Developer with expertise in building dynamic and
                  user-friendly applications.</p>
                <div class="social">
                  <a href="https://www.linkedin.com/in/your-profile" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/your-username" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                  <a href="mailto:your.email@examplezzzzzzzz.com">
                    <i class="fas fa-envelope"></i>
                  </a>
                </div>
                <a href="your-file.pdf" download class="btn btn-primary">
                  <i class="fas fa-download"></i> Download
                </a>
              </div>
            </div>

            <!-- Image Column - order changes based on screen size -->
            <div class="col-lg-6 col-md-12 order-lg-2 order-1">
              <div class="img-container text-center">
                <img
                  src="https://res.cloudinary.com/db4ayioxs/image/upload/v1744566548/uploads/1744566547772-IMG_20240323_002245_11zon%20%281%29.jpg.png"
                  alt="Profile Picture" class="img-fluid profile-img">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</div>
<section id="about">
  <div class="row">
    <div id="About1" class="col-md-4">
      <h1>About</h1>

    </div>
    <div class="col-md-7">
      <p>🎓I am Uppunuti Siddhartha, a dedicated Software Developer with a strong foundation in full-stack web
        development. I hold a Bachelor of Technology (B.Tech) degree in Computer Science and Engineering from
        AVN Institute of Engineering and Technology (AVNIET). </p>
      <p>🛠️ As a Python Full Stack Developer,: I specialize in building dynamic web applications using HTML, CSS,
        JavaScript, Django, and SQL, combining responsive front-end design with robust back-end functionality
        and efficient database management.</p>
      <p>💼 I have successfully completed internships in Python Full Stack Development, focusing on technologies
        like Django, HTML, CSS, React.js, and APIs. My key academic project, "Autism Detection Using Machine
        Learning," demonstrates my interest in combining technology with real-world problem-solving.</p>
      <p>🚀 In addition to my academic achievements, I actively enhance my skills through coding challenges on
        platforms like LeetCode, and contribute to collaborative projects on GitHub. I’m passionate about
        continuous learning, clean code, and building impactful digital solutions.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="certificate">
      <div class="num">
        4+
      </div>
      <div class="title">
        Certifications
      </div>
    </div>
    <div class="certificate">
      <div class="num">
        7+
      </div>
      <div class="title">
        Projects
      </div>
    </div>
    <div class="certificate">
      <div class="num">
        2+
      </div>
      <div class="title">
        Achievements
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <h1 class="skill">Building <span> with These➔</span></h1>
      <p>"Building with the Best! 🚀💡 From Python to React, REST APIs to AWS-crafting seamless digital
        experiences with powerful tools! strong"</p>
    </div>
    <div class="col-md-7">
      <div class="main-container ">
        <div class="badge-container">
          <span class="badge python"><i class="fab fa-python"></i> Python</span>
          <span class="badge django"><i class="fas fa-leaf"></i> Django</span>
          <span class="badge restapi"><i class="fas fa-plug"></i> REST API</span>
          <span class="badge html"><i class="fab fa-html5"></i> HTML5</span>
          <span class="badge css"><i class="fab fa-css3-alt"></i> CSS3</span>
          <span class="badge js"><i class="fab fa-js"></i> JavaScript</span>
          <span class="badge react"><i class="fab fa-react"></i> React.js</span>
          <span class="badge git"><i class="fab fa-git-alt"></i> Git</span>
          <span class="badge github"><i class="fab fa-github"></i> GitHub</span>
          <span class="badge postgres"><i class="fas fa-database"></i> PostgreSQL</span>
          <span class="badge mysql"><i class="fas fa-database"></i> MySQL</span>
          <span class="badge sqlite"><i class="fas fa-database"></i> SQLite</span>
          <span class="badge docker"><i class="fab fa-docker"></i> Docker</span>
          <span class="badge vercel"><i class="fas fa-cloud-upload-alt"></i> Vercel</span>
          <span class="badge heroku"><i class="fab fa-heroku"></i> Heroku</span>
          <span class="badge aws"><i class="fab fa-aws"></i> AWS</span>

          <span class="badge bootstrap"><i class="fab fa-bootstrap"></i> Bootstrap</span>
          <span class="badge tailwind"><i class="fas fa-wind"></i> Tailwind CSS</span>
          <span class="badge api"><i class="fas fa-code"></i> API Integration</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="project">
  <div class="row">

    <div class="col-md-6">
      <h1>Project <span>Gallery</span></h1>
      <div>
        <div class="project-title" id="title"
          data-img="https://img.freepik.com/premium-photo/autism-spectrum-disorder_1173361-342.jpg?w=2000">
          DETECTION OF AUTISM SPECTRUM DISORDER➔
        </div>
        <div class="project-desc">
          <h6><span>Selected Tech: </span>Python Full Stack, Flask, Machine Learing</h6>
          <p>This project uses Machine Learning algorithms to <strong>detect Autism Spectrum Disorder
              (ASD)</strong> based on behavioral and social patterns.
            It analyzes data gathered from questionnaires and provides early diagnosis suggestions, helping
            in timely intervention.
          </p>
          <div class="icons">
            <a href="https://www.linkedin.com/in/siddhartha55/details/projects/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/uppunutisiddhartha/Detection-of-Cyber-Attack-in-Network-using-Machine-Learning-Techniques."
              target="_blank"> <i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>

      <div>
        <div class="project-title" id="title"
          data-img="https://th.bing.com/th/id/R.bab74667eb16b4c685c0675251df14e9?rik=oQZsjI8flW5l1Q&riu=http%3a%2f%2fgovernmenttechnologyinsider.com%2fwp-content%2fuploads%2f2019%2f04%2fshutterstock_445417840-copy.jpg&ehk=9CJAAQSXItNzqHZGKFT1f8WldaG5zyP%2f2PQoQDl6Iaw%3d&risl=&pid=ImgRaw&r=0">
          Network Cyber Attack Detention➔
        </div>
        <div class="project-desc">
          <h6><span>Selected Tech: </span>Python Full Stack, Flask, Machine Learing</h6>
          <p>Implemented a system to monitor network traffic and identify malicious activities using machine
            learning techniques. The project focuses on detecting common cyber attacks such as DDoS,
            phishing, and intrusion attempts in real-time, ensuring network security and preventing
            potential breaches</p>
          <div class="icons">
            <div class="icons">
              <a href="https://www.linkedin.com/in/siddhartha55/details/projects/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://github.com/uppunutisiddhartha/Detection-of-Autism-Spectrum-Disorder-ASD-Using-Machine-Learning-Techniques"
                target="_blank"> <i class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="project-title" id="title" data-img="assets/ebook.jpg">
          E.Book Communuty➔
        </div>
        <div class="project-desc">
          <h6><span>Selected Tech: </span>Python Full Stack, Django</h6>
          <p>E.Book Community is a collaborative platform designed for students and educators to share, read,
            and contribute educational notes and resources. The platform allows users to upload their notes,
            access study materials, and engage in knowledge sharing, fostering a supportive learning
            environment. It also includes features like user registration, feedback system, and
            administrative controls for content approval</p>
          <div class="icons">
            <div class="icons">
              <a href="https://www.linkedin.com/in/siddhartha55/details/projects/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://github.com/uppunutisiddhartha/ebook" target="_blank"> <i class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="project-title" id="title" data-img="https://cdn.wallpapersafari.com/27/74/LtxYZa.jpg">
          WeatherLive➔
        </div>
        <div class="project-desc">
          <h6><span>Selected Tech: </span>Python Full Stack, Django</h6>
          <p>Implemented a system to monitor network traffic and identify malicious activities using machine
            learning techniques. The project focuses on detecting common cyber attacks such as DDoS,
            phishing, and intrusion attempts in real-time, ensuring network security and preventing
            potential breaches</p>
          <div class="icons">
            <div class="icons">
              <a href="https://www.linkedin.com/in/siddhartha55/details/projects/1741867079579/single-media-viewer/?profileId=ACoAAFUKazYBlmeHOIwikO-7hTt0q8295CsqdDE"
                target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://github.com/uppunutisiddhartha/weatherapp-_using-Django" target="_blank"> <i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="project-title" id="title" data-img="https://wallpaperaccess.com/full/4574942.jpg">Expense
          trackor➔
        </div>
        <div class="project-desc">
          <h6><span>Selected Tech: </span>Python Full Stack, Django</h6>
          <p>Implemented a system to monitor network traffic and identify malicious activities using machine
            learning techniques. The project focuses on detecting common cyber attacks such as DDoS,
            phishing, and intrusion attempts in real-time, ensuring network security and preventing
            potential breaches</p>

          <div class="icons">
            <div class="icons">
              <a href="https://www.linkedin.com/in/siddhartha55/details/projects/1741674631820/single-media-viewer/?profileId=ACoAAFUKazYBlmOIwikO-7hTt0q8295CsqdDeHE"
                target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://github.com/uppunutisiddhartha/Expense-Tracker" target="_blank"> <i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="project-title" id="title" data-img="https://i.ytimg.com/vi/TCeIu8hxurw/hqdefault.jpg">
          currency-converter➔
        </div>
        <div class="project-desc">
          <h6><span>Selected Tech: </span>Python Full Stack, Django</h6>
          <p>Implemented a system to monitor network traffic and identify malicious activities using machine
            learning techniques. The project focuses on detecting common cyber attacks such as DDoS,
            phishing, and intrusion attempts in real-time, ensuring network security and preventing
            potential breaches</p>
          <div class="icons">
            <div class="icons">
              <a href="https://www.linkedin.com/in/siddhartha55/details/projects/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://github.com/uppunutisiddhartha/currency-converter" target="_blank"> <i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-md-6 text-center">
      <img id="project-img" src="" alt="Project Image">
    </div>
  </div>
  <a href="https://github.com/uppunutisiddhartha"><button class="btn">
      View More <i class="fas fa-arrow-right"></i>
    </button></a>
</section>
<section id="highlights">
  <div class="explore">
    <div class="row">
      <div class="col-md-5">
        <h1>Show<span>case</span></h1>
        <p>Showcasing impactful projects, technical achievements, and events that shaped my journey as a Python
          Full Stack Developer.</p>
      </div>
      <div class="col-md-7">
        <div class="cer">
          <div class="cer" data-aos="fade-up" data-aos-duration="1000"></div>
          <div class="expo">
            <h4>🚀7+</h4>
            <a href="projects.html">
              <h5>Projects Developed</h5>
            </a>
          </div>
          <div class="para">
            <p>Developed over 7 projects, including web applications, machine learning models, and
              full-stack solutions. These projects showcase expertise in Python, Django, React.js, and
              problem-solving skills.</p>
          </div>
        </div>

        <div class="cer">
          <div class="cer" data-aos="fade-up" data-aos-duration="1000"></div>
          <div class="expo">
            <h4>🎓4+</h4>
            <a href="certificate.html">
              <h5>Certifications in Python</h5>
            </a>
          </div>
          <div class="para">
            <p>Completed multiple Python certifications covering Full Stack Development, Web Development
              with Django, and Advanced Python programming. Proficient in building real-world projects and
              applying best coding practices.</p>
          </div>
        </div>

        <div class="cer">
          <div class="cer" data-aos="fade-up" data-aos-duration="1000"></div>
          <div class="expo">
            <h4>🔗2+</h4>
            <h5>Tech-Events & Hackathons</h5>
          </div>
          <div class="para">
            <p>Participated in various tech events and hackathons, collaborating with teams to solve
              real-world problems, enhance coding skills, and learn emerging technologies.</p>
          </div>
        </div>
      </div>

    </div>
</section>
<section id="contact">
  <h1>Get in <span>Touch</span></h1>
  <div class="row">
    <div class="col-md-6">

      <div class="contact-info">
        <h3>Let's Talk</h3>
        <h6>I'm always open to discussing new projects, creative ideas, or opportunities to be part of your
          vision. Feel free to reach out!</h6>
        <p><i class="fas fa-map-marker-alt"></i> Hyderabad, India</p>
        <p><i class="fas fa-envelope"></i> <a
            href="mailto:uppunutisiddhartha@gmail.com">uppunutisiddhartha@gmail.com</a></p>

        <p><i class="fas fa-phone"></i> +91 9030425546</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/siddhartha55/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/uppunutisiddhartha" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://x.com/siddhartha24907" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-6">

      <form action="{% url 'contact' %}" method="POST" id="contactForm" class="contact-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" name="message" id="message" rows="5" placeholder="Enter your message"
            required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>




    </div>
  </div>
</section>
<footer id="section">
  <div class="footer-content">
    <div class="footer-info">
      <h3>Uppunuti Siddhartha</h3>
      <p>Python Full Stack Developer | Django | Web Developer | CSE Graduate</p>
    </div>

    <div class="footer-links">
      <a href="mailto:uppunutisiddhartha@gmail.com" class="footer-link">
        <i class="fas fa-envelope"></i> Email
      </a>
      <a href="https://github.com/uppunutisiddhartha" target="_blank" class="footer-link">
        <i class="fab fa-github"></i>GitHub
      </a>
      <a href="https://www.linkedin.com/in/siddhartha55/" target="_blank" class="footer-link">
        <i class="fab fa-linkedin"></i>LinkedIn
      </a>
      <a href="https://siddhartha-portifolio.vercel.app/contact.html" target="_blank" class="footer-link">
        <i class="fa-solid fa-link"></i>Contact
      </a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Uppunuti Siddhartha. All rights reserved.</p>
  </div>
</footer>



<script>
  const titles = document.querySelectorAll('.project-title');
  const descs = document.querySelectorAll('.project-desc');
  const img = document.getElementById('project-img');

  descs.forEach((desc, i) => {
    if (i === 0) {
      desc.style.display = 'block';
      img.style.display = 'block';
      img.src = titles[i].getAttribute('data-img');
      titles[i].classList.add('active');
    } else {
      desc.style.display = 'none';
    }
  });

  titles.forEach((title, index) => {
    title.addEventListener('click', () => {
      descs.forEach((desc, i) => {
        if (i !== index) desc.style.display = 'none';
      });

      const desc = descs[index];
      const isVisible = desc.style.display === 'block';
      desc.style.display = isVisible ? 'none' : 'block';

      if (!isVisible) {
        img.style.display = 'block';
        img.src = title.getAttribute('data-img');
      } else {
        img.style.display = 'none';
      }
    });
  });
  AOS.init({
    once: true,
  });


  var typed = new Typed("#typing-text", {
    strings: ["Python Full Stack Developer", "Web Developer"], // Text to type
    typeSpeed: 100,
    backSpeed: 50,
    backDelay: 1000,
    loop: true
  });
  document.addEventListener("DOMContentLoaded", function () {
    let badges = document.querySelectorAll(".badge");

    let observer = new IntersectionObserver((entries) => {
      entries.forEach((entry, index) => {
        if (entry.isIntersecting) {
          let badge = entry.target;
          setTimeout(() => {
            badge.style.opacity = "1";
            badge.style.transform = "translateY(0)";
          }, index * 200); // Adjust the delay for smooth effect
        } else {
          // Reset animation when element goes out of view
          entry.target.style.opacity = "0";
          entry.target.style.transform = "translateY(20px)";
        }
      });
    }, { threshold: 0.2 }); // 20% visibility to trigger

    badges.forEach(badge => {
      observer.observe(badge);
    });
  });
  document.addEventListener("DOMContentLoaded", function () {
    let stats = document.querySelectorAll(".certificate");

    let observer = new IntersectionObserver((entries) => {
      entries.forEach((entry, index) => {
        if (entry.isIntersecting) {
          let stat = entry.target;
          setTimeout(() => {
            stat.style.opacity = "1";
            stat.style.transform = "translateY(0)";
          }, index * 200); // Delayed effect for a smooth appearance
        } else {
          // Reset when out of view
          entry.target.style.opacity = "0";
          entry.target.style.transform = "translateY(30px)";
        }
      });
    }, { threshold: 0.5 }); // 50% visibility before animation

    stats.forEach(stat => {
      observer.observe(stat);
    });
  });



</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
  integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>

</html>